<form action='/bookmark/<%=@id%>' method='post'>
<input type='text' name='comment'>
<input type='submit' value='Submit'>
</form>


<%# CREATE TABLE comments (
id SERIAL PRIMARY KEY,
text VARCHAR(240),
bookmark_id INTEGER,
FOREIGN KEY (bookmark_id) REFERENCES bookmarks(id) 
ON DELETE CASCADE );
CREATE TABLE %>